---
%html
  %head
    %style{:type => "text/css", :media => "all"}
      :plain
        body { margin: 0; padding: 10px; background-color: #ddf }
        h2 { margin-top: 0; }
        ul { margin: 0; padding: 0; }
        li { list-style: none; margin-bottom: 5px; }
        .organizations { float: left; width: 200px; }
        .investments { margin-left: 220px; }

  %body
    %h1 FinancialCo

    .organizations
      %h2 Organizations
      %ul
        - @organizations.each do |organization|
          %li
            #{("&nbsp;"*(organization.nesting*3))}#{organization.name}
            \- $#{organization.total_investments}

    .investments
      %h2 Investments
      %ul
        - @investments.each do |investment|
          %li
            #{investment.name} - $#{investment.cost} - #{investment.organization.name}
